.sidebar
{
  position: fixed;
  width: 150px;
  height: 100%;
  top: 0;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  transition: width 0.1s ease-in-out;
  -webkit-transition: width 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  -ms-transition: width 0.1s ease-in-out;
  padding: 10px 15px;
  padding-top: 65px;
}
.side-link
{
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
