
:host /deep/ mat-card-title
{
  font-size: 24px !important;
}
.auth-card
{
  width: 300px;
  margin: auto;
  margin-top : 100px;
}
.form-field
{
  width: 100%;
}
button
{
  margin-left: 15px !important;
}
.message
{
  color: red;
  margin-bottom: 7px;
}
