@model TemplateApp.Models.RegisterModel

<h2>Регистрация</h2>

<form asp-action="Register" action="/account/register" method="post" >
	<div>
		<div>
			<label asp-for="Email">Введите Email</label><br />
			<input type="text" name="Email" />
		</div>
		<div>
			<label asp-for="Password">Введите пароль</label><br />
			<input type="password" name="Password" />
		</div>
		<div>
			<label asp-for="Password">Подтвердите пароль</label><br />
			<input type="password" name="ConfirmPassword" />
		</div>
		<div>
			<input type="submit" value="Регистрация" />
		</div>
	</div>
</form>